// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '~bootstrap/scss/functions';

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import './helpers/variables';
@import '~bootstrap/scss/mixins';

// ~ sass 對應 node_modules
@import '~bootstrap';
@import 'utilitie';
@import 'FrontScss/FontNavbar';
@import 'FrontScss/Dashboard';
@import 'FrontScss/Products';
@import 'FrontScss/Product';
@import 'FrontScss/Confirm';
@import 'BackendScss/Login';
@import 'FrontScss/ShopCart';
@import 'FrontScss/Order';
@import 'FrontScss/Checkout';
@import 'Admin/Login';
@import 'FrontScss/About';
@import 'FrontScss/GuessYouLike';
@import 'FrontScss/Index';
@import 'FrontScss/Loading';
@import 'FrontScss/Test';
